<div class="container" style="margin-top: 2vw;">
    <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Ngày tạo hóa đơn</th>
                <th>Tên khách hàng</th>
                <th>Địa chỉ</th>
                <th>Số điện thoại</th>
                <th>Tổng tiền</th>
                <th>Trạng thái vận đơn</th>
                <th>Trạng thái thanh toán</th>
                <th>Quản lí</th>
            </tr>
        </thead>

        <tbody *ngFor="let list of listOrderCurrent; let i = index">
            <tr>
                <td>{{i+1}}</td>
                <td>{{list.create_date}}</td>
                <td>{{list.customer.fullname}}</td>
                <td>{{list.customer.address}}</td>
                <td>{{list.customer.phone}}</td>
                <td>{{list.total_money}}đ</td>
                <td>{{list.status}}</td>
                <td>{{list.payment}}</td>
                <td>
                    <button (click)="delete(list.id)"><i class="far fa-trash-alt"></i></button>
                    <button data-toggle="modal" data-target="#editOrder" (click)="openForm(list)"><i class="far fa-edit"></i></button>
                    <button class="btn btn-primary btn-sm" (click)="detail(list.id)">Chi tiết hóa đơn</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Edit Order -->

<div id="editOrder" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                <h4 class="modal-title">Chỉnh sửa hóa đơn</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="editForm" (ngSubmit)="editOrder()">
                    <div class="form-group">
                        <label for="payment">Trạng thái thanh toán</label>
                        <input formControlName="payment" type="text" class="form-control" id="payment" placeholder="Enter payment ">
                    </div>
                    <div class="form-group">
                        <label for="status">Trạng thái vận đơn</label>
                        <input formControlName="status" type="text" class="form-control" id="status" placeholder="Enter status">
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" #closeButton class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<app-pagination *ngIf="listOrders.length != 0" [numberProduct]="listOrders.length" (OutCurrentPage)="paging($event)"></app-pagination>