<div class="mt-5 pt-5 pb-5 footer bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-xs-12 about-company">
                <h2>Về chúng tôi</h2>

                <p class="pr-5 text-white-50">Kính chào các khách hành đang truy cập vào website NT Home của chúng tôi.
                </p>
                <p class="pr-5 text-white-50">Shop NT Home là shop chuyên cung cấp các sản phẩm hot trend, công nghệ, thông minh một cách nhanh nhất. Giúp cho quý khách hàng nâng cao tiện nghi và chất lượng cuộc sống. Các sản phẩm về gia đình, nhà cửa, phụ kiện làm đẹp sáng tạo,...
                </p>
                <p class="pr-5 text-white-50">Rất mong quý khách mua hàng và có trải nghiệm tuyệt vời với sản phẩm của shop. </p>

            </div>
            <div class="col-lg-3 col-xs-12 links">
                <h4 class="mt-lg-0 mt-sm-3">Thông tin liên hệ</h4>
                <ul class="m-0 p-0">
                    <li>
                        <p><span><i class='fas fa-phone-square'></i></span> Hotline: 0345119480</p>
                    </li>
                    <li>
                        <p> <span><i class='far fa-envelope'></i></span> Email: bangngocitneu@gmail.com</p>
                    </li>
                    <li>

                        <p><span><i class='fas fa-landmark'></i></span> Address: SỐ 19 ngõ 245/120 Định Công - Hoàng Mai - Hà Nội</p>
                    </li>
                    <li>


                        <p><span>
                            <i class='fab fa-facebook-square'></i>
                            </span> NT Home
                            <a href="https://www.facebook.com/NThomeGiaDungThongMinh40"></a>
                        </p>

                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-xs-12 location">
                <h4 class="mt-lg-0 mt-sm-4">Location</h4>

                <ul class="list-unstyled ">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d238418.94934281067!2d105.69342201640619!3d20.980765299999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ad73f6b51569%3A0xc1c0c9ce440a4d90!2sNT%20Home!5e0!3m2!1svi!2s!4v1604028020680!5m2!1svi!2s"
                        width="400" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col copyright">
                <p class=""><small class="text-white-50">© 2020. Băng Ngọc.</small></p>
            </div>
        </div>
    </div>
</div>